<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="RegressionTesting" verbose="1" >
  
  <test name="RegisterFunctionality" >
    <classes>
     	<class name="testNG.TestNGClass" />
       <class name="testNG.TestNGRegistrationfunctionality" />
    </classes>
  </test>
     
 
  <test name="LoginFunctionality" >
    <classes>
     	<class name="testNG.TestNGClass" />
       <class name="testNG.TestNGLoginFuntionality" />
    </classes>
  </test>
 
</suite>
